.header {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevents any overflow issues */
}
.main-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire area */
  z-index: -1; /* Ensures the image is behind text */
}
.containers {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.containerss {
  width: 100%;
  height: 2362px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.bgimage {
  top: -334px;
  left: -253px;
  width: 1780px;
  height: 832px;
  position: absolute;
}
.main_heading {
  top: 55px;
  left: 92px;
  width: 1096px;
  height: 83px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.heading_text {
  left: 428px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Bodoni Moda;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.tagline_text {
  top: 63px;
  left: 407px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Lao Sans Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.rounds {
  top: 61px;
  left: 371px;
  width: 30px;
  height: 22px;
  position: absolute;
}
.roundss {
  top: 59px;
  left: 690px;
  width: 30px;
  height: 22px;
  position: absolute;
}
.nav1 {
  top: 13px;
  color: rgba(179, 77, 77, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lao Sans Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.someimg1 {
  top: 41px;
  left: 2px;
  width: 45px;
  height: 1px;
  position: absolute;
}
.nav2 {
  top: 13px;
  left: 113px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lao Sans Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.nav3 {
  top: 13px;
  left: 232px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lao Sans Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.nav4 {
  top: 17px;
  left: 796px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lao Sans Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bar1 {
  top: 15px;
  left: 1010px;
  width: 86px;
  height: 24px;
  position: absolute;
  border-radius: 45px;
}
.bar2 {
  top: 15px;
  left: 893px;
  width: 86px;
  height: 24px;
  position: absolute;
  border-radius: 45px;
}
.nav5 {
  top: 17px;
  left: 904px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lao Sans Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.nav6 {
  top: 17px;
  left: 1026px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lao Sans Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.search_container {
  top: 244px;
  left: 450px;
  width: 374px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.search {
  top: 5px;
  left: 19px;
  width: 23px;
  height: 24px;
  position: absolute;
}
.search_text {
  top: 8px;
  left: 49px;
  color: rgba(118, 118, 118, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Lao Sans Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cimage1 {
  top: 541px;
  left: 67px;
  width: 185px;
  height: 185px;
  position: absolute;
}
.cimage2 {
  top: 541px;
  left: 306px;
  width: 185px;
  height: 185px;
  position: absolute;
}
.cimage3 {
  top: 541px;
  left: 545px;
  width: 185px;
  height: 185px;
  position: absolute;
}
.cimage4 {
  top: 541px;
  left: 784px;
  width: 185px;
  height: 185px;
  position: absolute;
}
.cimage5 {
  top: 541px;
  left: 1023px;
  width: 185px;
  height: 185px;
  position: absolute;
}
.men1 {
  top: 743px;
  left: 115px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lao Sans Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.men2 {
  top: 743px;
  left: 378px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lao Sans Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.men3 {
  top: 743px;
  left: 610px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lao Sans Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.men4 {
  top: 743px;
  left: 851px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lao Sans Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.men5 {
  top: 743px;
  left: 1083px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lao Sans Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.someimg2 {
  top: 820px;
  left: 67px;
  width: 425px;
  height: 1px;
  position: absolute;
}
.someimg3 {
  top: 821px;
  left: 783px;
  width: 425px;
  height: 1px;
  position: absolute;
}
.someimg4 {
  top: 817px;
  left: 783px;
  width: 9px;
  height: 1px;
  position: absolute;
}
.head2 {
  top: 805px;
  left: 534px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Lao Sans Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-line4 {
  top: 817px;
  left: 492px;
  width: 9px;
  height: 1px;
  position: absolute;
}
.mac-book-air1-image1f1 {
  top: 879px;
  left: 67px;
  width: 370px;
  height: 541px;
  position: absolute;
}
.mac-book-air1-image2f1 {
  top: 879px;
  left: 452px;
  width: 370px;
  height: 541px;
  position: absolute;
}
.mac-book-air1-image3f1 {
  top: 879px;
  left: 838px;
  width: 370px;
  height: 541px;
  position: absolute;
}
.mac-book-air1-image4f1 {
  top: 1438px;
  left: 66px;
  width: 370px;
  height: 541px;
  position: absolute;
}
.mac-book-air1-pexelsphoto26795011 {
  top: 1438px;
  left: 452px;
  width: 370px;
  height: 541px;
  position: absolute;
}
.mac-book-air1-image7f1 {
  top: 1438px;
  left: 838px;
  width: 371px;
  height: 541px;
  position: absolute;
}
.mac-book-air1-text30 {
  top: 2036px;
  left: 469px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Lao Sans Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-text32 {
  top: 2098px;
  left: 293px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Lao Sans Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-rectangle4 {
  top: 2151px;
  left: 274px;
  width: 732px;
  height: 40px;
  position: absolute;
  border-radius: 90px;
}
.mac-book-air1-text34 {
  top: 2161px;
  left: 571px;
  color: rgba(255, 255, 255, 0.699999988079071);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Lao Sans Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-rectangle5 {
  top: 2208px;
  left: 542px;
  width: 195px;
  height: 34px;
  position: absolute;
  border-radius: 90px;
}
.mac-book-air1-text36 {
  top: 2213px;
  left: 589px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Lao Sans Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air1-instagram {
  top: 2299px;
  left: 603px;
  width: 69px;
  height: 47px;
  position: absolute;
}
.mac-book-air1-twitter-x {
  top: 2299px;
  left: 534px;
  width: 69px;
  height: 47px;
  position: absolute;
}
.mac-book-air1-facebook {
  top: 2299px;
  left: 672px;
  width: 69px;
  height: 47px;
  position: absolute;
}
